.article-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
}

.article {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center; 
  width: 300px; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #7b6c63; 
  color: #fff;
  margin: 20px auto; 
  padding: 15px; 
  transition: transform 0.3s ease;
}

.article h1 {
  font-size: 1.5em;
  margin: 10px 0;
  font-weight: bold;
  text-align: center;
}

.article img {
  width: 100%;
  height: auto;
  border-radius: 10px; 
}

.article p {
  color: #eaeaea; 
  font-size: 1em;
  margin-top: 10px;
}

.article-date {
  font-size: 0.85em;
  color: #ccc;
  margin-bottom: 10px; 
}

.article-source {
  color: #dfd4c2; 
  font-size: 0.9em;
  margin-top: 15px; 
}

.read-full-article-button {
  display: block; 
  width: calc(100% - 30px); 
  margin-top: 15px;
  padding: 10px 0; 
  background-color: #e0c9a6; 
  color: #fff;
  text-decoration: none; 
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.read-full-article-button:hover {
  background-color: #EDF5E1;
}

.go-back {
  margin-left: 5px;
  font-family: 'Playfair Display', serif;
  background-color: #dfd4c2; 
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.5rem 1rem; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; 
  margin-bottom: 10px; 
  width: auto; 
}

.go-back:hover {
  background-color: #5a5047;
}

