.article-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
}

.article {
  /* display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center; */
  width: 300px; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #7b6c63; 
  color: #fff;
  margin: 20px auto; 
  padding: 15px; 
  transition: transform 0.3s ease;
}

.article h1 {
  font-size: 1.5em;
  margin: 10px 0;
  font-weight: bold;
  text-align: center;
}

.article img {
  width: 100%;
  height: auto;
  border-radius: 10px; 
}

.article p {
  color: #eaeaea; 
  font-size: 1em;
  margin-top: 10px;
}

.article-date {
  font-size: 0.85em;
  color: #ccc;
  margin-bottom: 10px; 
}

.article-source {
  color: #dfd4c2; 
  font-size: 0.9em;
  margin-top: 15px; 
}
