@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.vintage-header {
  text-align: center;
  background: #6a5d4d; 
  padding: 20px 0;
  border-bottom: 5px solid #dfd4c2; 
  color: #fff; 
}

.vintage-header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  text-shadow: 2px 2px 0px #333; 
  margin: 0;
}

.vintage-header p {
  color: #dfd4c2; 
  margin: 10px 0 0;
}

.search-container {
  margin-top: 1rem;
  text-align: center;
} 

/* Style the search input */
.search-bar {
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  margin-right: 0.5rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: box-shadow 0.3s ease;
}

.search-bar:focus {
  outline: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* Style the search button */
.search-button {
  margin-right: 5px;
  font-family: 'Playfair Display', serif;
  background-color:  #dfd4c2; 
  color: black;
  text-transform: uppercase; 
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-button:hover,
.search-button:focus {
  background-color: #5a5047;
  outline: none;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-bar {
    margin: 0.5rem 0; 
    width: 80%; 
  }

  .search-button {
    width: 80%;
  }
}